<h1>{{model.title}}</h1>
<h1>{{model.body}}</h1>
<form>
  <form>
    <ul>
    {{#each model.comments as |c|}}
    {{#if c.editComment}}
    {{ edit-comment class="edit" value=c.title focus-out=(action "acceptChanges" c) insert-newline=(action "acceptChanges" c) }}
    {{else}}
    <p {{action "editComment" c on="doubleClick" }} >{{c.title}}</p>
    <button class="destroy" {{action "removeComment" c}}>Remove</button>
    {{/if}}
    {{/each}}
    </ul>
    <div class="form-group">
      <label>Comment</label>
      {{ textarea class="form-control" value = comment }}
    </div>
    <button {{ action 'addComment' model}} class="btn btn-primary">Add Comment</button>
  </form>
</form>
